IssueManagementSystem/.vs/config/applicationhost.config
*.config
IssueManagementSystem/IssueManagementSystem/obj/Debug/IssueManagementSystem.csproj.CoreCompileInputs.cache
IssueManagementSystem/.vs/IssueManagementSystem/v15/.suo
IssueManagementSystem/.vs/IssueManagementSystem/v15/Server/sqlite3/storage.ide-shm
IssueManagementSystem/IssueManagementSystem/obj/Debug/IssueManagementSystem.csproj.CoreCompileInputs.cache
IssueManagementSystem/IssueManagementSystem/obj/Debug/IssueManagementSystem.csprojAssemblyReference.cache
IssueManagementSystem/IssueManagementSystem/bin/IssueManagementSystem.pdb
IssueManagementSystem/IssueManagementSystem/obj/Debug/IssueManagementSystem.pdb
IssueManagementSystem/IssueManagementSystem/obj/Debug/IssueManagementSystem.dll
IssueManagementSystem/IssueManagementSystem/obj/Debug/IssueManagementSystem.csprojAssemblyReference.cache
IssueManagementSystem/IssueManagementSystem/obj/Debug/IssueManagementSystem.csproj.CoreCompileInputs.cache
IssueManagementSystem/IssueManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IssueManagementSystem/IssueManagementSystem/bin/IssueManagementSystem.pdb
IssueManagementSystem/IssueManagementSystem/bin/IssueManagementSystem.dll
IssueManagementSystem/.vs/IssueManagementSystem/v15/Server/sqlite3/storage.ide-shm
IssueManagementSystem/.vs/IssueManagementSystem/v15/.suo
IssueManagementSystem/.vs/config/applicationhost.config
IssueManagementSystem/.vs/IssueManagementSystem/v15/Server/sqlite3/storage.ide-wal
IssueManagementSystem/.vs/IssueManagementSystem/v15/Server/sqlite3/storage.ide
IssueManagementSystem/IssueManagementSystem/obj/Debug/IssueManagementSystem.csproj.CoreCompileInputs.cache
IssueManagementSystem/.vs/config/applicationhost.config
*.opendb
*.opensdf

IssueManagementSystem/.vs/IssueManagementSystem/v15/Server/sqlite3/db.lock
