IssueManagementSystem/.vs/IssueManagementSystem/v15/.suo
IssueManagementSystem/.vs/config/applicationhost.config
IssueManagementSystem/.vs/IssueManagementSystem/v15/.suo
IssueManagementSystem/.vs/IssueManagementSystem/v15/Server/sqlite3/storage.ide
IssueManagementSystem/IssueManagementSystem/bin/IssueManagementSystem.pdb
IssueManagementSystem/.vs/IssueManagementSystem/v15/.suo
IssueManagementSystem/.vs/IssueManagementSystem/v15/Server/sqlite3/storage.ide-wal
