
@{
    ViewBag.Title = "Raspberry";
    if (Session["userID"] == null)
      {
    Response.Redirect("~/Login/Index");
     }
}
@using IssueManagementSystem.Models;
@model List<IssueManagementSystem.Models.issue_occurrence>

<link href="~/Content/Display/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Display/displaystyles.css" rel="stylesheet" />
<div class="container-fluid margin">
    <div class="row">
        <div class="col-sm-5">
            <div class="container-liquid">

                <div style="display:inline-grid;grid-template-columns: 90%  50%">
                    <div id="container">
                        <canvas id="canvas1" style="border: 1px solid black;" width="500" height="600">
                            <br> This text is displayed if your browser does not support HTML5 Canvas. <br>
                        </canvas>
                    </div>
                    <label id="map" style="display: none;">[{"x":216,"y":368,"w":50,"h":50,"fill":"#000"},{"x":80,"y":254,"w":50,"h":50,"fill":"#ABA475"}]</label>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-white bg-danger mb-3" style="max-width:80rem;">
                <div class="card-header">Machine Breakdown</div>
                <div class="card-body" id="breakediv">
                    <table class="table" style="max-width:80rem;">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Machine</th>
                                <th scope="col">Description</th>
                                <th scope="col">Responsible person</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.issueoccourInfo)
                            {
                                if (item.issue_issue_ID == 1)
                                {
                            <tr>
                                <td>@item.date_time</td>
                                <td>@item.machine_machine_id</td>
                                <td>@item.description</td>
                                <td>@item.responsible_person_emp_id</td>
                            </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card text-white bg-warning mb-3" style="max-width: 60rem;">
                <div class="card-header">Matirial Delay</div>
                <div class="card-body">

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-success mb-3" style="max-width: 60rem;">
                <div class="card-header">Technical Issue</div>
                <div class="card-body">

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-primary mb-3" style="max-width: 60rem;">
                <div class="card-header">IT/Software Issue</div>
                <div class="card-body">

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>
    </div>

    <script src="~/Scripts/Display/showmapdisplay.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/Scripts/3.30bootstrap.min.js"></script>
    <script src="~/signalr/js"></script>
    <script>

    $.connection.hub.start()
        .done(function () {
            console.log("Worked")

        })
        .fail(function () { alert("ERROR!") });


        $.connection.iSMHUB.client.announce = function ()
        {

            location.reload();//refresh the page when hub call to its chients

           
        }

    </script>

</div>










