<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <link href="~/Content/animsition.min.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body>
   
    <hgroup>
        <h1> Whoops!</h1>
        <h2>Something went wrong.</h2>
    </hgroup>
    <style>
        body {
            display: inline-block;
            background: #00AFF9 url("~/Content/images/Unplugged.png") center/cover no-repeat;
            height: 100vh;
            margin: 0;
            color: white;
        }

        h1 {
            margin: .8em 3rem;
            font: 4em Roboto;
        }

        p {
            display: inline-block;
            margin: .2em 3rem;
            font: 2em Roboto;
        }
    </style>
</body>
</html>
