
@{
    ViewBag.Title = "ITIssue";
    Layout = "~/Views/Shared/CellEngineerLayout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
@model IssueManagementSystem.Models.issue_occurrence
<link href="~/Content/SupervisorStyles/supervisorStyle.css" rel="stylesheet" />

<div class="container margin ">
    <h2>IT Issue</h2>
    <hr />
    <div class="row">
        <div class="" style="width:50%;margin:auto;">
            <div class="form-group" style="width:100%;margin:auto">
               

                @using (Html.BeginForm("AddIssueIT", "Supervisor", FormMethod.Post))
                {

                    <div style="padding-top:20px;">
                        <label for="exampleFormControlTextarea1">Description</label>
                        @Html.TextAreaFor(model => model.description, new { @class = "form-control", @style = "width: 100%", @rows = 5 })
                    </div>
                    string Role = Session["Role"].ToString();
                   
                    @Html.TextAreaFor(mo => mo.Role, new { @class = "form-control", @id = "role", style = "display: none;" })
                    @Html.TextAreaFor(mod => mod.lineid, new { @class = "form-control", @id = "lineid", style = "display: none;" })
                    <script>
                        document.getElementById("lineid").value=@ViewBag.lineid;
                        document.getElementById("role").value = "@Role";
                    </script>
                    <div class="button-holder" style="display:block">
                        <div class="ajax-button">
                            <div class="fa fa-check done"></div>
                            <div class="fa fa-close failed"></div>
                            <input id="submit" class="submit" type="submit" value="Submit" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</div>
<script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
<script src="~/Scripts/SupervisorScripts/machineBrakedown.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
<script src="~/signalr/js"></script>
<script>
    $("#submit").click(function () {
        $.connection.hub.start()
            .done(function () {
                console.log("Worked")
                $.connection.iSMHUB.server.announce();
            })
            .fail(function () { alert("ERROR!") });
    });

</script>

