
@{
    ViewBag.Title = "MachinBreakdown";
    Layout = "~/Views/Shared/supervisorsLayout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

@model IssueManagementSystem.Models.line_map


<link href="~/Content/SupervisorStyles/supervisorStyle.css" rel="stylesheet" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container margin ">
    <h2>Machine Breakdown</h2>
    <hr />
    <h3>Select the machine</h3>

    <div class="row">
        <div class="col-sm-6">
            <div class="container-liquid">

                <div style="display:inline-grid;grid-template-columns: 90%  50%">
                    <div id="container">
                        <canvas id="canvas1" style="border: 1px solid black;" width="400" height="600">
                            <br>
                            This text is displayed if your browser does not support HTML5 Canvas.<br>
                        </canvas>
                    </div>

                   

                </div>



            </div>
        </div>
        <div class="col-sm-3 machine">
            <div class="form-group machine">
                <label for="exampleFormControlTextarea1">Machine</label>
                <span type="text" class="form-control" id="elementID" value="Machine ID: " disabled></span>
            </div>
            <label id="map" style= "display: none;">@ViewData["map"]</label>
            <div class="form-group machine">
                <label for="exampleFormControlTextarea1">Extra Information</label>
                <textarea class="form-control" rows="3" required></textarea>
            </div>
            <div class="container-fluid row ">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 button-holder">
                            <div class="ajax-button">
                                <div class="fa fa-check done"></div>
                                <div class="fa fa-close failed"></div>
                                <input id="submit" class="submit" type="button" value="Submit" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/SupervisorScripts/machineBrakedown.js"></script>
    <script type="text/javascript"> 

</script>
    <script src="~/Scripts/SupervisorScripts/showmap.js"></script>
</div>




