
@{
    ViewBag.Title = "MachinBreakdown";
    Layout = "~/Views/Shared/supervisorsLayout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

 @Layout = "~/Views/Shared/supervisorsLayout.cshtml";

@model IssueManagementSystem.Models.issue_occurrence

<link href="~/Content/SupervisorStyles/supervisorStyle.css" rel="stylesheet" />


<div class="container margin ">
    <h2>Machine Breakdown</h2>
    <hr />
    <h3>Select the machine</h3>

    <input type="hidden" value="@Session["userID"]" id="userId" />
    <div class="row">
        <div class="col-sm-6">
            <div class="container-liquid">

                <div style="display:inline-grid;grid-template-columns: 90%  50%">
                    <div id="container">
                        <canvas id="canvas1" style="border: 1px solid black;" width="400" height="600">
                            <br>
                            This text is displayed if your browser does not support HTML5 Canvas.<br>
                        </canvas>
                    </div>



                </div>



            </div>
        </div>
        <div class="col-sm-3 machine">
            @using (Html.BeginForm("AddIssueBreakedown", "Supervisor", FormMethod.Post))
            {
                <div class="form-group machine">
                    <label for="exampleFormControlTextarea1">Machine</label>
                    @Html.TextBoxFor(model => model.machine_machine_id, new { @class = "form-control", @id = "machine" })
                </div>
                <label id="map" style="display: none;">@ViewData["map"]</label>
                <div class="form-group machine">
                    <label for="exampleFormControlTextarea1">Extra Information</label>
                    @Html.TextAreaFor(model => model.description, new { @class = "form-control" })
                </div>
                <div class="container-fluid row ">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 button-holder">
                                <div class="ajax-button">
                                    <div class="fa fa-check done"></div>
                                    <div class="fa fa-close failed"></div>
                                    <input id="submit" class="submit" type="submit" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
 
    <script src="~/Scripts/SupervisorScripts/machineBrakedown.js"></script>
    <script src="~/Scripts/SupervisorScripts/showmap.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <link href="~/Content/SupervisorStyles/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/js"></script>
    <script>
        $("#submit").click(function () {
            $.connection.hub.start()
                .done(function () {
                    console.log("Worked")
                    $.connection.iSMHUB.server.announce();
                })
                .fail(function () { alert("ERROR!") });
        });

    </script>

</div>








