@{
    ViewBag.Title = "MaterialDelay";
    Layout = "~/Views/Shared/supervisorsLayout.cshtml";
}
@model IssueManagementSystem.Models.FLINTEC_Item



<link href="~/Content/SupervisorStyles/supervisorStyle.css" rel="stylesheet" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<div class="container">
    <div class="row">
        <div class="col-sm-3 machine">
            @using (Html.BeginForm("AddMaterialDelay", "Supervisor", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Select material</label>
                    @Html.DropDownListFor(model => model.No_, new SelectList(Enum.GetValues(typeof(string))))
                </div>

                <div class="container-fluid row ">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 button-holder">
                                <div class="ajax-button">
                                    <div class="fa fa-check done"></div>
                                    <div class="fa fa-close failed"></div>
                                    <input id="submit" class="submit" type="submit" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>