@{
    ViewBag.Title = "MaterialDelay";
    Layout = "~/Views/Shared/supervisorsLayout.cshtml";
}

<link href="~/Content/SupervisorStyles/supervisorStyle.css" rel="stylesheet" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<div class="materials">
@Html.DropDownList("", new List<SelectListItem>
{
    new SelectListItem{Text = "", Value = "", Selected = true},
    new SelectListItem{Text = "", Value = ""},
    new SelectListItem{Text = "", Value = ""},
}, "Select Material")

</div>
<script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
<script src="~/Scripts/SupervisorScripts/machineBrakedown.js"></script>
<script src="~/Scripts/SupervisorScripts/materialDelay.js"></script>

<div class="container-fluid row ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 button-holder">
                <div class="ajax-button">
                    <div class="fa fa-check done"></div>
                    <div class="fa fa-close failed"></div>
                    <input id="submit" class="submit" type="button" value="Submit" />
                </div>
            </div>
        </div>
    </div>
</div>
